@{
    ViewBag.Title = "Events Fund";
}

@using EventFund.Data;
@model Homework_5_26.Models.EventsViewModel

@if (!String.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-success">
        <br />
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @Model.Message
    </div>
    
}
<div class="container" style="margin-top:50px;">
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-success " id="add-event">Add Event</button>
        </div>
        
    </div>
    <br />
    <table class="table table-hover table-bordered table-striped">
        <tr>
            <th>Date</th>
            <th>Event Host</th>
            <th>Number of Contributors</th>
            <th>Total</th>
            <th>Contributions</th>
            @*<th>Email Organizer</th>*@
        </tr>
        @foreach (EventWithContributorCount s in Model.EventsWithCount)
        {
            <tr>
                <td>@s.Date.ToLongDateString()</td>
                <td>@s.EventHost</td>
                <td>@s.Count <span style="font-weight: bolder;">/ @Model.TotalContributers</span></td>
                <td>$@s.Total</td>
                <td><a href="/events/getcontributions?eventId=@s.Id" class="btn btn-warning" id="contributions-button">Go</a></td>
                @*<td><button class="btn btn-warning" id="emails-button">Go</button></td>*@
            </tr>
        }
    </table>
</div>

<div class="modal fade" id="add-event-modal">
    <form method="POST" action="/events/addevent">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Add Event</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class='col-sm-6'>
                             <div class="form-group">
                                <label>Family Name</label>
                                <input class="form-control" type="text" name="eventhost" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- / Start Date Time Picker -->
                        <div class='col-sm-6'>
                            <div class="form-group">
                                <label>Date</label>
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type='datetime' class="form-control" name="date"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-success">Add</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </form>
</div><!-- /.modal -->

@section scripts 
{
<script src="~/Scripts/MyJavascript.js"></script>
}
